form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form label {
  color: white;
  text-shadow: 2px 2px 20px rgba(0, 0, 0, .8);
  font-size: 1.5rem;
}

.Contact {
  min-width: 400px;
  text-align: center;
}

.contact-input {
  margin: 15px;
  padding: 10px;
  width: 100%;
}

.submit-btn:hover {
  cursor: pointer;
  box-shadow: 2px 2px 17px rgba(0, 0, 0, 0.8);
  border: 1px solid white;
  padding: 9px;
}

.submit-btn {
  padding: 10px;
  width: 50%;
  color: white;
  background-color: #FB0D1B;
  border: none;
  margin-top: 15px;
  margin-bottom: 30px;
  font-size: 1rem;
}


textarea {
  resize: none;
}