.nav-link {
  color: black;
  transition-duration: 1s;
}

/*.nav-link:hover {
  letter-spacing: 1px;
  transition-duration: 1s;
  color: rgba(251, 13, 27, .5)
}*/

.selected {
  color: #FB0D1B !important;
}

.nav-link-wrapper {
  display: flex;
  flex-direction: column;
  height: 150px;
  justify-content: space-between;
}

.inner-nav {
  position: fixed;
  display: flex;
  flex-direction: column;
}

.navbar {
  margin: 5%;
  text-align: center;
  align-items: center;
  min-width: 140px;
  flex-direction: column;
  /*font-family: 'Play', sans-serif;*/
  font-family: 'Jura', sans-serif;
}

h1 {
  margin-bottom: 0;
}

h5 {
  margin-top: 5px;
}

.john-binning {
  font-weight: 700;
  font-size: 2rem;
}

.front-end-dev {
  font-weight: 300;
}

@media screen and (max-width: 1000px) {

  .inner-nav {
    position: static;
  }

  .nav-link-wrapper {
    flex-direction: row;
    height: auto;
    min-width: 300px;
  }

  .john-binning {
    margin: 15px;
  }

  .navbar {
    margin-top: 0;
    margin-bottom: 25px;
  }

}

