.project-image {
  max-width: 600px;
  max-height: 400px;
  width: 100%;
}

.project-github,
.project-hosted {
  margin: 10px;
}

.project-links {
  display: flex;
  justify-content: center;
}

.project-title {
  font-size: 2rem;
  font-family: 'Jura', sans-serif;
}

.projects-location-title {
  margin-bottom: 30px !important;
}

.top-project {
  margin-top: 0 !important;
}

.project-description {
  line-height: 17pt;
}

.the-stack {
  font-size: 1.7rem;
  margin-bottom: 5px;
  font-weight: 700;
  font-family: 'Jura', sans-serif;
}

.project-links {
  font-weight: 700;
  font-size: 1.4rem;
  color: black;
  display: flex;
  align-items: center;
  font-family: 'Jura', sans-serif;
}

.project-links:hover {
  color: #FB0D1B;
}

.project-link-social {
  max-height: 20px;
  max-width: 20px;
  margin-right: 5px;
}

.projects .project-block {
  margin-left: 5%;
  margin-right: 5%;
  padding: 15px;
}

.project-block {
  margin-bottom: 20px;
}

.project-barrier {
  height: 3px;
  width: 70%;
  margin-left: 15%;
  background-color: black;
}

.project-wrapper figcaption {
  border: 2px solid black;
  padding: 5px;
  margin-top: 40px;
  border-radius: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

@media screen and (max-width: 600px) {

  .project-image {
    max-width: 100vw;
  }

  .projects .project-block {
    padding-left: 5px;
    padding-right: 5px;
  }

  .project-wrapper figcaption {
    margin-top: 3%;
  }

  .project-wrapper {
    width: 94%;
    margin-left: 3%;
    margin-right: 3%;;
  }

}

@media screen and (max-width: 480px) {

  .project-wrapper {
    margin-left: 10px;
    margin-right: 10px;
  }

}

