.project-image {
  max-width: 600px;
  max-height: 400px;
}

.project-github,
.project-hosted {
  margin: 10px;
}

.project-links {
  display: flex;
  justify-content: center;
}

.project-title {
  font-size: 2rem;
  /*color: #FB0D1B;*/
}

.projects-location-title {
  margin-bottom: 30px !important;
}

.top-project {
  margin-top: 0 !important;
}

.project-description {
  line-height: 17pt;
}

.the-stack {
  font-size: 1.3rem;
  margin-bottom: 5px;
}
