/*@import url('./reset.css');*/

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}

.app,
.navbar {
  display: flex;
}

.app {
}

.logo {
  height: 70px;
  width: 70px;
  margin: 10px;
  margin-left: 15px;
}

.logo-container {
  background-color: rgba(0,0,0,.6);
  margin-top: 40px;
  border-radius: 50%;
  height: 100px;
  width: 100px;
}

.navbar {
  width: 10%;
  margin: 10%;
  flex-direction: column;
}

.right-side {
  width: 90%;
  height: 100vh;
  background-image: url('./images/ImogenePass.jpg');
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  /*background-position-x: 68%;*/
}

